* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	padding: 1rem 10% 1rem 10%;
	position: sticky;		
}

	
nav .nav-logo {
	display: inline-block;
}

nav .right-nav {
	float: right;
}

nav .nav {
	display: inline;
	padding: 1rem;	
}

.tuitt-button {
	padding: 1rem;
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    min-height: 50vh;
    background-repeat: no repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: scroll;
    border: 1px;
}

.front-bg {
	background-color: black;
	padding: 1rem 10% 1rem 10%;
	opacity: 0.5;
	min-height: 50vh;
}

.title {
	font-family: "Zilla Slab", serif;
	font-size: 2rem;
	color: white;
	text-align: right;
	padding: 1rem 1rem 1rem 50%;
}

.subtitle {
	font-size: 1rem;
	color: white;
	text-align: right;
	padding: 1rem 1rem 1rem 50%;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding: 1rem;
	float: right;
}

.intro {
	padding: 1rem 10% 1rem 10%
}

.title-2 {
	font-family: "Zilla Slab";
	text-align: center;
	padding: 3rem;
}

.intro-description {
	text-align: justify;
	padding: 1rem;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	padding: 1rem 10% 1rem 10%;
}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	font-size: 1rem;
	border-radius: 25px;
	padding: 1rem;
}

footer {
	text-align: center;
}